html {
    font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Inter', sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: #0BD2D3;
  }
h1 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 20px 0;
    color: #F990E8;
    text-shadow: 3px 3px 1px black;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
p {
    line-height: 1.5;
}
li {
    font-size: 12px;
    line-height: 1.5;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
img {
    display: block;
    margin: 0px auto;
  }
.imgfloat {
    float: left;
    margin-right: 30px;
}
blockquote {
    margin: 0;
  }
  
blockquote p {
    padding: 15px;
    background: #F990E8;
    border-radius: 5px;
    box-shadow: 3px 3px 1px black;
  }  
blockquote footer {
    padding: 10px;
}

hr.section-end {
    color: #F990E8;
    width: 50%;
}

hr.section-end-two {
    color:#0BD2D3
}

video {
    display: block;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 0.625%;
}

.nav-links a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    flex: 1;
    border: 5px dotted #0BD2D3;
    border-radius: 10px;
}
  
.nav-links a:hover {
    background-color: #F990E8;
    color: #fff;
}

.nav-links a:active {
    background-color: #0BD2D3;
    border: 5px #F990E8;
    border-style: dotted dashed solid double;
}
